.content_continer{
	position: relative;
	border:1px solid #fff;
	width: 385px;
	height: 300px;
	background-color: #fff;
	margin:0 auto;
	margin-top:20px;
}
.login_close{
	position: absolute;
	margin:0 !important;
	width:10px !important;
	height: 10px;
	top:10px;
	right:8px;
	background-image: url('../imgs//close.png');
	cursor: pointer;
}
.content_continer div{
	margin-left:40px;
	margin-right:40px;
	width:calc(100% - 80px);
}
.content_continer input{
	width: 100%;
	height: 44px;
}
.login_title{
	font-size: 1.2em;
	margin-top:30px;
	margin-bottom:5px;
}
.login_input input{
	margin-top:14px;
	border:1px solid #dfdfdf;
	background-color: #fafafa;
	height: 44px;
	width: 100%;
	text-indent: 0.75em;
}
.login_btn{
	margin-top:30px;
}
.login_btn input{
	background-color: #25ac48;
	border:1px solid #27ad4b;
	cursor: pointer;
	color:#fff;
}